@use '@/presentation/styles/animations'
@use '@/presentation/styles/colors'
@use '@/presentation/styles/layout'
@use '@/presentation/styles/selectors'
@use '@/presentation/styles/sizes'

.password-field
  &__right-content
    @include layout.center

    &
      @include animations.color-transition

    &
      aspect-ratio: 1
      border-radius: var(--radius-m, 0.5rem)
      height: 100%

      @include selectors.hovered
        background-color: var(--border)

      @include selectors.pressed
        background-color: colors.fade(var(--border), var(--alpha-2xl, 0.88))

      @include selectors.disabled
        background-color: transparent
        color: var(--neutral-foreground-muted)

    & > *
      @include sizes.fixed(var(--element-icon-size, 1rem))
