:root
  --timing: cubic-bezier(0.4, 0, 0.2, 1)
  --transition-150: 150ms

  @media (prefers-reduced-motion: reduce)
    --timing: 0
    --transition-150: 0

    *
      animation: none
      transition: none

@mixin color-transition
  transition-duration: var(--transition-150, 0)
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke
  transition-timing-function: var(--timing, ease-in-out)

@mixin fade-in
  animation: fade-in var(--transition-150, 0) var(--timing, ease-in-out)

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@mixin spin
  animation: spin 1s linear infinite

@keyframes spin
  to
    transform: rotate(360deg)
