@use '@/presentation/styles/accessibility'
@use '@/presentation/styles/animations'
@use '@/presentation/styles/colors'
@use '@/presentation/styles/selectors'
@use '@/presentation/styles/sizes'
@use '@/presentation/styles/typography'

@mixin base-interactive
  @include accessibility.focus-outline

  &
    @include animations.color-transition

  @include selectors.disabled
    pointer-events: none

@mixin outlined
  @include base-interactive

  &
    background-color: transparent
    border: var(--element-stroke, 0.125rem) solid var(--border)
    border-radius: var(--radius-m, 0.5rem)

  @include selectors.hovered
    background-color: var(--border)

  @include selectors.pressed
    background-color: colors.fade(var(--border), var(--alpha-2xl, 0.88))
    border-color: colors.fade(var(--border), var(--alpha-2xl, 0.88))

  @include selectors.disabled
    background-color: transparent
    border-color: var(--neutral-background-muted)
    color: var(--neutral-foreground-muted)

@mixin transparent
  @include base-interactive

  &
    background-color: transparent

  @include selectors.hovered
    background-color: colors.fade(var(--neutral-background-inverted), var(--alpha-2xs, 0.12))

  @include selectors.pressed
    background-color: colors.fade(var(--neutral-background-inverted), var(--alpha-xs, 0.24))

  @include selectors.disabled
    background-color: transparent
    color: var(--neutral-foreground-muted)
