@mixin center
  align-content: center
  justify-items: center

@mixin absolute-center
  inset: 50% auto auto 50%
  position: absolute
  transform: translate(-50%, -50%)

@mixin fixed-center
  inset: 50% auto auto 50%
  position: fixed
  transform: translate(-50%, -50%)

@mixin full-screen
  height: 100svh
  inset: 0
  position: fixed
  width: 100vw

@mixin main-content
  margin-inline: auto
  width: min(50rem, calc(100% - 2rem))
