@use '@/presentation/styles/normalize'
@use '@/presentation/styles/sizes'
@use '@/presentation/styles/colors'
@use '@/presentation/styles/animations'
@use '@/presentation/styles/typography'
@use '@/presentation/styles/shadows'
@use '@/presentation/styles/layout'
@use '@/presentation/styles/scrollbar'

:root
  color-scheme: dark light
  overflow-x: hidden
  scroll-behavior: smooth

html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: transparent
  accent-color: var(--brand-foreground-accent)
  caret-color: var(--brand-foreground-accent)

  ::selection
    background-color: var(--brand-background-primary)
    color: var(--brand-foreground-on-brand)

body
  @include animations.color-transition
  @include typography.body-medium
  background-color: var(--neutral-background)
  color: var(--neutral-foreground)
  height: 100svh

#root
  display: flex
  flex-direction: column
  height: 100%

h1, h2, h3, h4, h5, h6
  @include typography.title-medium

.grid
  --grid-max-column-count: 3
  --grid-min-column-size: 300px
  --grid-gap: 1rem

  --grid-column-size-calc: calc((100% - var(--grid-gap) * var(--grid-max-column-count) - var(--grid-gap)) / var(--grid-max-column-count))
  --grid-column-min-size-calc: min(100%, max(var(--grid-column-size-calc), var(--grid-min-column-size)))

  display: grid
  gap: var(--grid-gap)
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-column-min-size-calc), 1fr))
  margin-inline: auto
  padding-block: 2rem
  width: min(2000px, calc(100% - 2rem))

  &__item
    background-color: var(--border)
    border-radius: var(--radius-m, 0.25rem)
    width: 100%
    height: auto
    padding: 1rem 1.5rem
