@use '@/presentation/styles/layout'
@use '@/presentation/styles/typography'

.error
  &-wrapper
    @include layout.main-content
    @include layout.center
    flex-direction: column
    height: 100%
    padding-block-end: 10%

  &-title
    @include typography.headline-large
    margin-block-end: var(--size-320, 2rem)
    text-align: center

  &-content
    @include typography.body-large
    align-items: center
    display: flex
    flex-direction: column
    gap: var(--size-160, 1rem)
    margin-block-end: clamp(4rem, 3rem + 4.5vw, 5.6rem)
    text-align: center

  &-actions
    align-items: center
    display: flex
    flex-wrap: wrap
    gap: var(--size-120, 0.75rem)
    justify-content: center
